@model WHouse.Models.JobWorker

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>JobWorker</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.posision)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.posision)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Userr.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Userr.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OrderJob.place)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OrderJob.place)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_JobWorker }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
