@model WHouse.Models.CustumerOrder

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h4>CustumerOrder</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OrderConfirm.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OrderConfirm.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status1.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status1.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Userr.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Userr.name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.orderNumer }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
