@model IEnumerable<WHouse.Models.CustumerOrder>
@{
    ViewBag.Title = "ToList";
}

@{
    string LoggedInId = Session["ID"].ToString();
}

@using (Html.BeginForm())
{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <table class="table">
            <tr>
                <th>
                    Užsakymo sukūrimo data
                </th>
                <th>
                    Užsakytojas
                </th>
                <th>
                    Parinktys
                </th>
            </tr>



            @foreach (var item in Model)
            {
                if (@LoggedInId == item.fk_UserID.ToString())
                {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderProducts)
                    </td>
                    @*<td>
                    @Html.DisplayFor(modelItem => item.OrderConfirm.name)
                </td>*@
                    @*<td>
                    @Html.DisplayFor(modelItem => item.Status1.name)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Userr.name)
                    </td>
                    <td>
                        @Html.ActionLink("Keisti", "Edit", new { id = item.orderNumer })
                    </td>

        </tr>
                    //}
                }
            }

        </table>
    </body>
</html>
}