@model IEnumerable<WHouse.Models.ProductToAdd>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseAddition.additionNumer)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseAddition.additionNumer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id_ProductToAdd }) |
                @Html.ActionLink("Details", "Details", new { id=item.id_ProductToAdd }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id_ProductToAdd })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
