@model  WHouse.Models.Merged

@{
    /**/

    ViewBag.Title = "JobApointment";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<table class="table">
    @if (Model != null)
    {

        foreach (var workers in Model.wrokers)
        {
            <tr>

            <td class="list-group-item">@workers.name </td>
            <td class="list-group-item">@workers.surname </td>
            <td class="list-group-item">@workers.ID </td>

             </tr>
        }
    }



</table>



 


    

    @using (Html.BeginForm("AppointJobsAndWorkers", "JobAppointment", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.first, new { @class = "form-control", @placeholder = "Pakrauti", @required = "required" })
        @Html.TextBoxFor(model => model.second, new { @class = "form-control", @placeholder = "Iskrauti", @required = "required" })
        @Html.TextBoxFor(model => model.third, new { @class = "form-control", @placeholder = "Nunesti", @required = "required" })
        @Html.TextBoxFor(model => model.fourth, new { @class = "form-control", @placeholder = "Nuvesti", @required = "required" })
        @Html.TextBoxFor(model => model.fifth, new { @class = "form-control", @placeholder = "Uzkelti", @required = "required" })
        @Html.TextBoxFor(model => model.six, new { @class = "form-control", @placeholder = "Nukelti", @required = "required" })
        @Html.HiddenFor(model => model.id);
        @*<li class="list-group-item">
                @Html.DropDownListFor(model => Model.first, new SelectList(Model.wrokers, "name", "surname"), htmlAttributes: new { @class = "form-control", id = "worker" })
            </li>
            <li class="list-group-item">


                @Html.DropDownListFor(model => Model.second, new SelectList(Model.wrokers, "name", "surname"), htmlAttributes: new { @class = "form-control", id = "worker" })
            </li>
            <li class="list-group-item">


                @Html.DropDownListFor(model => Model.third, new SelectList(Model.wrokers, "name", "surname"), htmlAttributes: new { @class = "form-control", id = "worker" })
            </li>
            <li class="list-group-item">


                @Html.DropDownListFor(model => Model.fourth, new SelectList(Model.wrokers, "name", "surname"), htmlAttributes: new { @class = "form-control", id = "worker" })
            </li>
            <li class="list-group-item">


                @Html.DropDownListFor(model => Model.fifth, new SelectList(Model.wrokers, "name", "surname"), htmlAttributes: new { @class = "form-control", id = "worker" })
            </li>
            <li class="list-group-item">


                @Html.DropDownListFor(model => Model.six, new SelectList(Model.wrokers, "name", "surname"), htmlAttributes: new { @class = "form-control", id = "worker" })
            </li>*@
        <input type="submit" value="Submit" class="btn btn-block btn-primary" />
    }





