@model  WHouse.Models.Merged

@{
    /**/

    ViewBag.Title = "JobApointment";
}





<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("AppointJobsAndWorkers", "JobAppointment", FormMethod.Post))
{
    foreach (var name in @Model.works)
    {
        <li class="list-group-item">
            @name.name
        <ul class="dropdown-menu" style="padding: 10px" id="myDiv">
            @foreach (var wrok in @Model.wrokers)
            {
                <li><p><input type="checkbox" value="@wrok.ID"> @wrok.name</p></li>
            }
        </ul>
    </li>

}

<input type="submit" value="Submit" class="btn btn-block btn-primary" />
}

<div>
    <asp:ListBox ID="lstFruits" runat="server" SelectionMode="Multiple">
        <asp:ListItem Text="Mango" Value="1" />
        <asp:ListItem Text="Apple" Value="2" />
        <asp:ListItem Text="Banana" Value="3" />
        <asp:ListItem Text="Guava" Value="4" />
        <asp:ListItem Text="Orange" Value="5" />
    </asp:ListBox>
    <asp:Button Text="Submit" runat="server" OnClick="Submit" />
</div>



<div class="panel panel-body" style="min-height:256px">

    <div class="col-md-9">
        <h4>fun ble</h4>
        @if (Model != null)
        {
            <div class="col-md-6">

                <ul class="list-group">
                    @foreach (var name in @Model.works)
                    {

                        <li class="list-group-item">@name.name </li>

                    }

                </ul>

            </div>
            <div class="col-md-6">

                <ul class="list-group">
                    @foreach (var workers in @Model.wrokers)
                    {

                        <li class="list-group-item">@workers.name </li>

                    }
                </ul>
            </div>
        }


    </div>

</div>

